.blue-btn {
    display: inline-flex;
    height: 24px;
    min-width: 90px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 999px;
    background: #e0f2fe;
    border: none;
    color: #0ea5e9;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
.green-btn {
    display: inline-flex;
    height: 24px;
    min-width: 90px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 999px;
    background: rgba(86, 186, 40, 0.2);
    border: none;
    color: #56ba28;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
.table-switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #d0cfcf;
        transition: 0.4s;
        border-radius: 34px;

        &::before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input:checked + .slider {
        background-color: #4e7dda;
    }

    input:checked + .slider:before {
        transform: translateX(14px);
    }
}

.status-block {
    display: flex;
    align-items: center;
    column-gap: 8px;
    .icon {
        width: 12px;
        height: 12px;
        border-radius: 12px;
    }
    .text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    &.status-red {
        .icon {
            background-color: #ff5353;
            border: 1px solid #dee2e6;
        }
        .text {
            color: #ff5353;
        }
    }
    &.status-green {
        .icon {
            background-color: #56ba28;
            border: 1px solid #dee2e6;
        }
        .text {
            color: #56ba28;
        }
    }
    &.status-gray {
        .icon {
            background-color: #64748b;
            border: 1px solid #dee2e6;
        }
        .text {
            color: #64748b;
        }
    }
}
.thead-in-filter {
    position: relative;
    width: 100%;
    height: 50px;
}
.table-filter-dropdown {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 1px 7px 2px rgba(96, 108, 128, 0.1);
    display: none;
    &.show {
        display: block;
    }
    .table-filter {
        display: flex;
        column-gap: 20px;
        &__item {
            width: fit-content;
            position: relative;
            border: none;
            &-header {
                font-size: 14px;
                margin-bottom: 10px;
            }
            &-dropdown {
                &:hover {
                    .table-filter__item-dropdown-content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                    }
                }
                &-result {
                    width: fit-content;
                    padding: 5px;
                    border: 1px solid #64748b;
                    border-radius: 6px;
                    font-size: 12px;
                }
                &-content {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 30px;
                    min-width: 125px;
                    width: 100%;
                    z-index: 1;
                    border-radius: 4px;
                    background: #fff;
                    box-shadow: 0px 4px 13px 0px rgba(27, 50, 79, 0.04);
                    label {
                        padding: 14px;
                        display: block;
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        border-bottom: 1px solid #f5f9fd;
                        cursor: pointer;
                        font-size: 12px;
                        &:hover {
                            background-color: #f5f9fd;
                        }
                    }
                }
            }
        }
    }
}
.table-options {
    position: relative;
    .options-dropdown {
        display: none;
        width: 100%;
        min-width: 80px;
        position: absolute;
        top: -10px;
        left: -80px;
        padding: 10px;
        background: #fff;
        box-shadow: 0px 1px 7px 2px rgba(96, 108, 128, 0.1);
        &__inner {
            width: 100%;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
        }
        &__item {
            cursor: pointer;
        }
        &.show {
            display: block;
        }
    }
}
