.main {
    width: calc(100% - 280px);
    background-color: #f4f9ff;

    @include mq(tablet-portrait-up) {
        width: 100%;
    }
    &-container {
        width: 100%;
    }
    &-inner {
        width: 100%;
        padding: 0 25px;
    }
}
