@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar-header {
  width: 280px;
  height: auto;
  min-height: 100vh;
  background-color: #475e88;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 1200px) {
  .sidebar-header {
    display: none;
    opacity: 0;
    position: fixed;
    left: -100%;
    z-index: 666;
  }
}
.sidebar-header.show {
  display: flex;
  animation: show-sidebar 0.3s ease-in;
  left: 0;
  opacity: 1;
}
@media only screen and (max-width: 480px) {
  .sidebar-header.show {
    width: 100%;
    position: fixed;
    overflow: scroll;
    max-height: 100vh;
  }
}
.sidebar-header.show::-webkit-scrollbar {
  display: none;
}
.sidebar-header.show::-webkit-scrollbar-thumb {
  display: none;
}
.sidebar-header.show::-webkit-scrollbar-thumb:hover {
  display: none;
}
.sidebar-header.show::-webkit-scrollbar-track {
  display: none;
}
@keyframes show-sidebar {
  to {
    opacity: 1;
    left: 0;
  }
}

.sidebar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .sidebar-container {
    padding: 20px 0;
  }
}

.sidebar-close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.sidebar-close img {
  width: 15px;
  height: 15px;
}
@media only screen and (min-width: 1200px) {
  .sidebar-close {
    display: none;
  }
}

.sidebar-logo {
  width: 148px;
}
.sidebar-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sidebar-inner {
  width: 100%;
  padding: 30px;
}
.sidebar-inner .sidebar-menu {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.sidebar-inner .sidebar-menu__item {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.33);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.sidebar-inner .sidebar-menu__item.active {
  color: #fff;
}
.sidebar-inner .sidebar-submenu {
  width: 100%;
  margin-top: 50px;
}
.sidebar-inner .sidebar-submenu__content {
  display: none;
  flex-direction: column;
  row-gap: 45px;
}
.sidebar-inner .sidebar-submenu__content.active {
  display: flex;
}
.sidebar-inner .sidebar-submenu__inner {
  width: 100%;
  padding-left: 11.5px;
}
.sidebar-inner .sidebar-submenu__header {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  -moz-column-gap: 16.5px;
       column-gap: 16.5px;
}
.sidebar-inner .sidebar-submenu__header img {
  width: 11.5px;
  height: 15.33px;
}
.sidebar-inner .sidebar-submenu__header img.special-days {
  width: 20px;
  height: 20px;
}
.sidebar-inner .sidebar-submenu__header img.question-icon {
  width: 18px;
  height: 18px;
}
.sidebar-inner .sidebar-submenu__items {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 30px;
}
.sidebar-inner .sidebar-submenu__item {
  list-style: none;
  border-left: 2px solid rgba(255, 255, 255, 0.25);
  padding: 14px 0 14px 24px;
}
.sidebar-inner .sidebar-submenu__item a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sidebar-inner .sidebar-submenu__item.active {
  border-color: #fff;
}

.sidebar-searchbar {
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .sidebar-searchbar {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar-searchbar {
    margin-top: 0;
  }
}
.sidebar-searchbar__input-group {
  width: 100%;
  position: relative;
}
.sidebar-searchbar__input {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #f4f9ff;
  padding: 15px 24px;
  outline: none;
}
.sidebar-searchbar__input::-moz-placeholder {
  color: #9ab1cc;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sidebar-searchbar__input::placeholder {
  color: #9ab1cc;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sidebar-searchbar__search-icon {
  position: absolute;
  top: 15px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.main-inner__container {
  width: 100%;
  padding: 40px 50px;
}
@media only screen and (max-width: 1024px) {
  .main-inner__container {
    padding: 40px 25px;
  }
}
.main-inner__breadcrumb span {
  color: #6c757d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main-inner__breadcrumb span.active {
  color: #212529;
}
.main-inner .breadcrumb-row {
  display: flex;
  flex-direction: row !important;
  align-items: flex-end;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media only screen and (max-width: 1024px) {
  .main-inner .breadcrumb-row {
    flex-direction: row;
    row-gap: 30px;
  }
}
.main-inner .breadcrumb-row h1 {
  color: #2d3b54;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
.main-inner__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media only screen and (max-width: 768px) {
  .main-inner__btn {
    flex-direction: column;
    row-gap: 30px;
  }
}
.main-inner__btn-fill {
  width: 106.474px;
  height: 33.149px;
  background-color: #475e88;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  outline: none;
}
.main-inner__btn-fill img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.main-inner__btn-stroke {
  width: 106.474px;
  height: 33.149px;
  border-radius: 8px;
  border: 1px solid #475e88;
  background-color: transparent;
  color: #475e88;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  outline: none;
}
.main-inner__btn-stroke:hover {
  background-color: #475e88;
  color: #fff;
  transition: all 0.25s;
}
.main-inner__btngroup {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media only screen and (max-width: 768px) {
  .main-inner__btngroup {
    flex-direction: column;
    row-gap: 10px;
  }
}

.main-section {
  width: 100%;
  display: flex;
}
.main-section .main {
  width: calc(100% - 280px);
  background-color: #f4f9ff;
}
@media only screen and (max-width: 1200px) {
  .main-section .main {
    width: 100%;
    min-height: 100vh;
  }
}
.main-section .main-container {
  width: 100%;
}
.main-section .main-inner {
  width: 100%;
}

.main-header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}
.main-header__inner {
  width: 100%;
  height: 100%;
  padding: 15px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .main-header__inner {
    padding: 15px 25px;
  }
}
.main-header__hamburger {
  width: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  cursor: pointer;
}
@media only screen and (min-width: 1200px) {
  .main-header__hamburger {
    display: none;
  }
}
.main-header__hamburger-item {
  width: 100%;
  height: 3px;
  background-color: #000;
}
.main-header__searchbar {
  max-width: 505px;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .main-header__searchbar {
    display: none;
  }
}
.main-header__input-group {
  width: 100%;
  position: relative;
}
.main-header__input {
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #f4f9ff;
  padding: 15px 24px;
  outline: none;
}
.main-header__input::-moz-placeholder {
  color: #9ab1cc;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-header__input::placeholder {
  color: #9ab1cc;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-header__search-icon {
  position: absolute;
  top: 15px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.main-header__profile {
  max-width: 180px;
  width: 30%;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .main-header__profile {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .main-header__profile {
    width: 70%;
  }
}
.main-header__profile-inner {
  width: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media only screen and (max-width: 480px) {
  .main-header__profile-inner {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.main-header__profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.main-header__profile-photo img {
  width: 100%;
}
.main-header__profile-content {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media only screen and (max-width: 480px) {
  .main-header__profile-content {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.main-header__profile-content__text h4 {
  color: #6484aa;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-header__profile-content__text span {
  color: #c3cbd4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-header__profile-content__arrow {
  width: 12px;
  height: 12px;
}
.main-header__profile-dropdown {
  position: absolute;
  top: 54px;
  width: 100%;
  padding: 10px 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
  display: none;
}
.main-header__profile-dropdown.show {
  display: block;
}
.main-header__profile-items {
  width: 100%;
}
.main-header__profile-item {
  width: 100%;
  list-style: none;
  padding: 5px 0;
}
.main-header__profile-item:hover {
  background-color: #f4f9ff;
}
.main-header__profile-item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 0 24px;
}

.table-container {
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
}
.table-container__inner {
  width: 100%;
  overflow-x: auto;
}
.table-container__inner table {
  width: 100%;
  min-width: 1038px;
  border-collapse: collapse;
}
.table-container__inner table thead:nth-child(1) th {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  border-bottom: 1px solid #e2e8f0;
}
.table-container__inner table thead:nth-child(2) th {
  background-color: #f8fafc;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
}
.table-container__inner table td:last-child {
  text-align: right;
}
.table-container__inner table th,
.table-container__inner table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #f1f5f9;
  color: #64748b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.table-container__inner table th:first-child, .table-container__inner table th:last-child,
.table-container__inner table td:first-child,
.table-container__inner table td:last-child {
  padding: 13px 20px;
}
.table-container__inner table th:first-child .table-cell-inner, .table-container__inner table th:last-child .table-cell-inner,
.table-container__inner table td:first-child .table-cell-inner,
.table-container__inner table td:last-child .table-cell-inner {
  justify-content: flex-end;
}
.table-container__inner table th .table-cell-inner,
.table-container__inner table td .table-cell-inner {
  display: flex;
  align-items: center;
}
.table-container__inner table th .table-cell-inner img,
.table-container__inner table td .table-cell-inner img {
  margin-right: 5px;
}
.table-container__inner table th .table-cell-inner__filter,
.table-container__inner table td .table-cell-inner__filter {
  margin-left: 8px;
  cursor: pointer;
}
.table-container__inner table th .table-cell-inner__chevron,
.table-container__inner table td .table-cell-inner__chevron {
  width: 10px;
  height: 6px;
  cursor: pointer;
  margin-right: 0 !important;
}
.table-container__inner table th .table-cell-inner.deleteBtn,
.table-container__inner table td .table-cell-inner.deleteBtn {
  cursor: pointer;
}
.table-container__inner table th .table-cell-inner .showHideBtn,
.table-container__inner table td .table-cell-inner .showHideBtn {
  cursor: pointer;
}
.table-container__inner table th .table-cell-inner .optionsBtn,
.table-container__inner table td .table-cell-inner .optionsBtn {
  cursor: pointer;
}
.table-container__inner table th.table-filter-td,
.table-container__inner table td.table-filter-td {
  position: relative;
}
.table-container__inner table input[type=checkbox] {
  margin: 0;
}
.table-container__inner table img {
  width: 24px;
  height: 24px;
}
.table-container .table-pagination {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
.table-container .table-pagination a {
  text-decoration: none;
  color: #cbd5e1;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
}
.table-container .table-pagination a.active {
  color: #00aaff;
  cursor: pointer;
}
.table-container .table-pagination span {
  color: #64748b;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.blue-btn {
  display: inline-flex;
  height: 24px;
  min-width: 90px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 999px;
  background: #e0f2fe;
  border: none;
  color: #0ea5e9;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.green-btn {
  display: inline-flex;
  height: 24px;
  min-width: 90px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 999px;
  background: rgba(86, 186, 40, 0.2);
  border: none;
  color: #56ba28;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.table-switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
}
.table-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.table-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d0cfcf;
  transition: 0.4s;
  border-radius: 34px;
}
.table-switch .slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.table-switch input:checked + .slider {
  background-color: #4e7dda;
}
.table-switch input:checked + .slider:before {
  transform: translateX(14px);
}

.status-block {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.status-block .icon {
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
.status-block .text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.status-block.status-red .icon {
  background-color: #ff5353;
  border: 1px solid #dee2e6;
}
.status-block.status-red .text {
  color: #ff5353;
}
.status-block.status-green .icon {
  background-color: #56ba28;
  border: 1px solid #dee2e6;
}
.status-block.status-green .text {
  color: #56ba28;
}
.status-block.status-gray .icon {
  background-color: #64748b;
  border: 1px solid #dee2e6;
}
.status-block.status-gray .text {
  color: #64748b;
}

.table-filter-dropdown {
  min-width: 200px;
  max-width: 240px;
  height: auto;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
  display: none;
}
.table-filter-dropdown.show {
  display: block;
}
.table-filter-dropdown ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.table-filter-dropdown ul li {
  list-style: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: none;
}
.modal.show {
  display: flex;
}
.modal-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-inner {
  min-width: 50%;
  border-radius: 15px;
  background: #fff;
  padding: 50px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .modal-inner {
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  .modal-inner {
    padding: 50px 40px;
  }
}
@media only screen and (max-width: 380px) {
  .modal-inner {
    padding: 50px 25px;
  }
}
.modal-header h4 {
  color: #475e88;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.modal-form {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form__add {
  padding: 0 140px;
}
@media only screen and (max-width: 1024px) {
  .modal-form__add {
    padding: 0 80px;
  }
}
@media only screen and (max-width: 768px) {
  .modal-form__add {
    padding: 0;
  }
}
.modal-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.modal-form__group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .modal-form__group {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
}
.modal-form__group label {
  color: #475e88;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.modal-form__group .modal-input {
  width: 244px;
  height: 48px;
  padding: 12px 18px 14px 16px;
  border-radius: 8px;
  border: 1px solid #475e88;
  outline: none;
  background: rgba(123, 151, 206, 0.06);
}
@media only screen and (max-width: 768px) {
  .modal-form__group .modal-input {
    width: 100% !important;
  }
}
.modal-form__group .modal-input[type=date] {
  width: 244px;
  height: 48px;
  padding: 12.599px 18.377px 14.401px 16px;
  border-radius: 8px;
  border: 1px solid #475e88;
  outline: none;
  background: rgba(123, 151, 206, 0.06);
}
@media only screen and (max-width: 768px) {
  .modal-form__group .modal-input[type=date] {
    width: 100% !important;
    min-width: 95% !important;
  }
}
.modal-form__textarea {
  align-items: flex-start;
}
.modal-form__textarea textarea {
  max-width: 244px;
  height: 130px !important;
}
@media only screen and (max-width: 768px) {
  .modal-form__textarea textarea {
    max-width: 100%;
  }
}
.modal-form__btn {
  justify-content: center;
}
.modal-form__btn .modal-btn {
  display: flex;
  width: 424px;
  height: 60px;
  padding: 6px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #6484aa;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .modal-form__btn .modal-btn {
    width: 100%;
  }
}
.modal-close {
  width: 38px;
  height: 38px;
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}
.modal-close img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.login-page {
  width: 100%;
  height: 100vh;
  position: relative;
}
.login-page::before {
  content: "";
  width: 100%;
  height: 50%;
  background-color: #475e88;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.login-page::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: #f4f9ff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.login-page__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.login-page__logo {
  margin-bottom: 30px;
  width: 180px;
}
.login-page__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.login-page__inner {
  width: 557px;
  border-radius: 16px;
  background: #fff;
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(27, 50, 79, 0.06);
}
@media only screen and (max-width: 768px) {
  .login-page__inner {
    width: 80%;
    padding: 25px 35px;
  }
}
.login-page__inner h2 {
  color: #475e88;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.login-page__form {
  margin-top: 57px;
  width: 100%;
}
.login-page__form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.login-page__form-group {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.login-page__form-input {
  width: 100%;
  padding: 16px 24px;
  border-radius: var(--Space-Extra-Small, 8px);
  border: 1.5px solid #abc9ed;
  background: #fff;
  outline: none;
}
.login-page__form-input::-moz-placeholder {
  color: #abc9ed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-page__form-input::placeholder {
  color: #abc9ed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-page__form .toggle-password {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.login-page__form .toggle-password img {
  width: 20px;
  height: 20px;
  transform: rotateX(180deg);
}
.login-page__form-checkbox {
  position: relative;
  margin-right: 16px;
}
.login-page__form-checkbox i {
  background-color: initial;
  cursor: default;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
.login-page__form-checkbox:checked::before {
  content: "✔";
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #abc9ed;
}
.login-page__form-checkbox::before {
  content: "";
  display: inline-block;
  border: 1px solid #abc9ed;
  border-color: #abc9ed;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: -1px;
  left: 0;
  width: 18px;
  height: 18px;
}
.login-page__form label {
  color: #c2c8cf;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-page__form-btn {
  width: 100%;
  height: 56px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  background: #475e88;
  border: none;
  outline: none;
}

.home-page-inner .main-inner__container {
  width: 100%;
  padding: 40px 50px;
}
@media only screen and (max-width: 1024px) {
  .home-page-inner .main-inner__container {
    padding: 40px 25px;
  }
}
.home-page-inner .main-inner__row {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media only screen and (max-width: 1024px) {
  .home-page-inner .main-inner__row {
    flex-direction: column;
    row-gap: 30px;
  }
}
.home-page-inner .main-inner__row-colleft {
  width: 31%;
  min-width: 400px;
}
@media only screen and (max-width: 1024px) {
  .home-page-inner .main-inner__row-colleft {
    width: 100%;
    min-width: 100%;
  }
}
.home-page-inner .main-inner__row-colleft__row {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 30px;
}
@media only screen and (max-width: 768px) {
  .home-page-inner .main-inner__row-colleft__row {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.home-page-inner .main-inner__row-colleft__col {
  min-width: 183px;
  max-width: 230px;
  border-radius: 12px;
  background: #fff;
  padding: 41.5px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
}
@media only screen and (max-width: 1024px) {
  .home-page-inner .main-inner__row-colleft__col {
    width: 47.5%;
    min-width: 30%;
    max-width: 47.5%;
  }
}
@media only screen and (max-width: 380px) {
  .home-page-inner .main-inner__row-colleft__col {
    width: 46.5%;
    padding: 41.5px 15px;
  }
}
.home-page-inner .main-inner__row-colleft__col img {
  width: 52px;
}
@media only screen and (max-width: 480px) {
  .home-page-inner .main-inner__row-colleft__col img {
    width: 35px;
  }
}
.home-page-inner .main-inner__row-colleft__col h4 {
  color: #475e88;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
@media only screen and (max-width: 480px) {
  .home-page-inner .main-inner__row-colleft__col h4 {
    font-size: 14px;
    line-height: 13px;
  }
}
.home-page-inner .main-inner__row-colright {
  width: 69%;
  max-height: 364px;
  border-radius: 12px;
  background: #fff;
  padding: 24px 30px 0 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
}
@media only screen and (max-width: 1024px) {
  .home-page-inner .main-inner__row-colright {
    width: 100%;
  }
}
.home-page-inner .main-inner__row-colright h5 {
  color: #2d3b54;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.home-page-inner .main-inner__row-colright__inner {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}
.home-page-inner .main-inner__row-colright__inner::-webkit-scrollbar {
  display: none;
}
.home-page-inner .main-inner__row-colright__inner::-webkit-scrollbar-thumb {
  display: none;
}
.home-page-inner .main-inner__row-colright__inner::-webkit-scrollbar-thumb:hover {
  display: none;
}
.home-page-inner .main-inner__row-colright__inner::-webkit-scrollbar-track {
  display: none;
}
.home-page-inner .main-inner__row-colright__inner .notification-table {
  width: 100%;
  margin-top: 20px;
}
.home-page-inner .main-inner__row-colright__inner .notification-table td {
  border-bottom: 1px solid rgba(140, 140, 140, 0.1);
}
.home-page-inner .main-inner__row-colright__inner .notification-table__td1 {
  color: rgba(100, 132, 170, 0.72);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 15%;
  padding-top: 8px;
  padding-bottom: 11px;
}
.home-page-inner .main-inner__row-colright__inner .notification-table__td2 {
  color: rgba(100, 132, 170, 0.72);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  width: 5%;
  padding-top: 8px;
  padding-bottom: 11px;
}
.home-page-inner .main-inner__row-colright__inner .notification-table__td3 {
  width: 70%;
  color: #0d1215;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: right;
  padding-bottom: 11px;
}
.home-page-inner .main-inner__row-colright__inner .notification-table__td3 span {
  color: #4e7dda;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.home-page-inner .main-inner__row-colright__overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.2));
  pointer-events: none;
}
.home-page-inner .main-inner__row-col {
  width: 100%;
  height: 169px;
  border-radius: 12px;
  background: #fff;
  padding: 30px 30px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05);
}
.home-page-inner .main-inner__row-col h3 {
  color: #2d3b54;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.home-page-inner .main-inner__row-col .swiper {
  width: 100%;
  height: 100%;
}
.home-page-inner .main-inner__row-col .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page-inner .main-inner__row-col .swiper-slide__inner {
  position: relative;
}
.home-page-inner .main-inner__row-col .swiper-slide__inner-img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  overflow: hidden;
}
.home-page-inner .main-inner__row-col .swiper-slide__inner-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-page-inner .main-inner__row-col .swiper-slide.online .online-status {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: #56ba28;
}/*# sourceMappingURL=style.css.map */